/*
# h1

cssnext is awesome
*/
:root {
    --mainColor: #ffbbaaff;
}
.class {
    color: red;
}
/*
## in at-rules

hogehoge
*/
@custom-media    --mobile (width <= 640px);
@custom-selector --heading h1, h2, h3, h4, h5, h6;

/*
## h2

hogehoge
*/
.post-article --heading {
    color: color( var(--mainColor) blackness(+20%) );
}
/*
atrule
*/
@media (--mobile) {
    .post-article --heading {
        margin-top: 0;
    }
}
p {
    line-height: 1.5;
}
