/*
 * Scaffolding and type
 */

html {
  font-size: 20px;
}
@media (max-width: 48rem) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #5a5a5a;
}

a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin: 0 0 .5rem;
  font-weight: normal;
  line-height: 1;
  color: #2a2a2a;
  letter-spacing: -.05em;
}
h1 { font-size: 1.8rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1rem }

p {
  margin: 0 0 1rem;
}
.lead {
  font-size: 1.3rem;
}

blockquote {
  position: relative;
  margin: 0 1rem 1rem;
  font-style: italic;
  color: #7a7a7a;
}
blockquote p {
  margin-bottom: 0;
}

ul li {
  margin-bottom: .25rem;
}

p:last-child,
ul:last-child,
blockquote:last-child{
  margin-bottom: 0;
}

/*
 * Code
 */

code,
pre {
  font-family: "PT Mono", Menlo, "Courier New", monospace;
  font-size: 95%;
}
code {
  padding: 2px 4px;
  font-size: 85%;
  color: #d44950;
  background-color: #f7f7f9;
  border-radius: .2rem;
}

pre {
  display: block;
  margin: 1rem 0 ;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
}

pre.code {
  margin-top: 0;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

/*
 * The Grid
 */

.col {
  padding: 2rem 1rem;
}
.col p {
  max-width: 40rem;
}
.col + .col {
  border-top: 1px solid #dfe1e8;
  background-color: #f7f7f9;
}
@media (min-width: 38em) {
  .col {
    padding: 2rem;
  }
}
@media (min-width: 48em) {
  .section {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .col {
    display: table-cell;
    padding: 3rem;
    vertical-align: top;
  }
  .col + .col {
    border-top: 0;
  }
}

.toc .col + .col {
  background-color: #fff;
}

/*
 * Masthead
 */

.masthead {
  padding: 3rem 1rem;
  color: rgba(255,255,255,.5);
  text-align: center;
  background-color: #333;
}
.masthead h1 {
  color: #fff;
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.masthead .icon {
  display: inline-block;
  font-size: 3rem;
  margin: 0 .5rem;
}
.masthead-links {
  font-size: 2rem;
}
.masthead-links a {
  color: rgba(255,255,255,.5);
  text-decoration: none;
  transition: all .15s linear;
}
.masthead-links a:hover {
  color: #fff;
}

@media (min-width: 38em) {
  .masthead {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

/*
 * Sections
 */

.heading {
  padding: 2rem 1rem 1.5rem;
  background-color: #dfe1e8;
}

@media (min-width: 38em) {
  .heading {
    padding: 3rem 3rem 2.5rem;
  }
}

.section {
  border-bottom: 1px solid #dfe1e8;
}
