<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Style Guide</title>
        <link rel="stylesheet" href="./default.css">
        <style><%- css %></style>
    </head>
    <body>
        <% maps.forEach(function (map) { %>
        <%- map.html %>
        <pre><code class="lang-css"><%= map.rule %></code></pre>
        <% })%>
    </body>
</html>

